<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<?xml version="1.0" encoding="UTF-8"?>
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="../static/stylesheet.css" rel="stylesheet">
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Dark.js"></script>
    <script src="../static/instructors.js"></script>
</head>

<body>

<!-- Navbar -->

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white " id="sidebar" style="width: 230px;">
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
            </svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <a href="students" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Students
                </a>
            </li>
            <li>
                <a href="instructors" class="nav-link active text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Instructors
                </a>
            </li>
            <li>
                <a href="financials" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Financials
                </a>
            </li>
        </ul>

        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Safey</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div>
        <!-- Page Content -->
        <div class="card d-inline-flex" id="content">
            <div class="container-fluid">
                <div>

                    <div class="card" id="bulletchartdivparent">
                        <h3>Bullet Chart of Instructors Performance</h3>
                        <div id="bulletchartdiv"></div>
                    </div>
                    <div>
                        <form class="form-control m-4" id="filter" onsubmit="submitForm(); return false;"
                              style="background-color: #121212; padding: 1vh;">
                            <label for="majors">Select Major:</label>
                            <select class="form-select" id="majors" name="majors">
                                {% for major in majors %}
                                    <option value="{{ major }}">{{ major }}</option>
                                {% endfor %}
                            </select>
                            <label for="courses" class="mt-4">Select Course:</label>
                            <select class="form-select" id="courses" name="courses">
                                {% for course in courses %}
                                    <option value="{{ course }}">{{ course }}</option>
                                {% endfor %}
                            </select>

                            <button class="button-31" type="submit" role="button">Submit</button>

                        </form>
                        <script>
                            // Add an event listener to the majors select menu
                            document.getElementById('majors').addEventListener('change', function () {
                                // Get the selected major
                                var selectedMajor = this.value;

                                // Fetch courses based on the selected major
                                fetch('/get_courses?major=' + selectedMajor)
                                    .then(response => response.json())
                                    .then(data => {
                                        // Update the courses select menu with the fetched courses
                                        var coursesSelect = document.getElementById('courses');
                                        coursesSelect.innerHTML = ''; // Clear existing options

                                        data.courses.forEach(course => {
                                            var option = document.createElement('option');
                                            option.value = course;
                                            option.text = course;
                                            coursesSelect.appendChild(option);
                                        });
                                    });
                            });

                            function submitForm() {
                                // Fetch data and update chart
                                fetchDataAndUpdateChart();
                            }
                        </script>
                        <div>
                            <div class="card" id="anotherchart">
                                <h4 class="align-text-top text-center m-2">Top 40 Instructors by Rating</h4>
                                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <ol class="list-group" id="list-group">
                                                {% for instructor in instructors[1:11] %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-start py-1"
                                                        id="list">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{ loop.index }}. {{ instructor["instructor_name"] }}</div>
                                                            <div>{{ instructor["department"] }}</div>
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">{{ instructor["instructor_rating"] }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <div class="carousel-item" data-bs-interval="10000">
                                            <ol class="list-group" id="list-group">
                                                {% for instructor in instructors[10:20] %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-start py-1"
                                                        id="list">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{ loop.index + 10 }}. {{ instructor["instructor_name"] }}</div>
                                                            <div>{{ instructor["department"] }}</div>
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">{{ instructor["instructor_rating"] }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <ol class="list-group " id="list-group">
                                                {% for instructor in instructors[20:30] %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-start py-1"
                                                        id="list">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{ loop.index + 20 }}. {{ instructor["instructor_name"] }}</div>
                                                            <div>{{ instructor["department"] }}</div>
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">{{ instructor["instructor_rating"] }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <div class="carousel-item">
                                            <ol class="list-group" id="list-group">
                                                {% for instructor in instructors[30:40] %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-start py-1"
                                                        id="list">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{ loop.index + 30 }}. {{ instructor["instructor_name"] }}</div>
                                                            <div>{{ instructor["department"] }}</div>
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">{{ instructor["instructor_rating"] }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleInterval"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button id="Button" class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleInterval"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>

</html>
