<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<?xml version="1.0" encoding="UTF-8"?>
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="../static/stylesheet.css" rel="stylesheet">
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Dark.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="../static/studentpage.js"></script>
</head>

<body>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white " id="sidebar" style="width: 230px;">
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
            </svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <a href="students" class="nav-link active text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Students
                </a>
            </li>
            <li>
                <a href="instructors" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Instructors
                </a>
            </li>
            <li>
                <a href="financials" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Financials
                </a>
            </li>
            <li>
                <a href="courses" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                    </svg>
                    Courses
                </a>
            </li>
        </ul>

        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Safey</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>


    <!-- Page Content -->
    <div class="card d-inline-flex" id="content">
        <div class="container-fluid">
            <div class="card" id="studentinfo">
                <h4>Total Students {{ total_students }} </h4>
            </div>
            <div class="card" id="studentinfo">
                <h4>On Probation {{ on_propation }} </h4>
            </div>
            <div class="card" id="studentinfo">
                <h4> Repeating Students {{ repeating }} </h4>
            </div>
            <div class="card" id="barchartdivparent">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <h3>Distribution Of CS cGPAs</h3>
                            <div id="barchartdivcs"></div>
                        </div>
                        <div class="carousel-item active" data-bs-interval="10000">
                            <h3>Distribution Of ENG cGPAs</h3>
                            <div id="barchartdiveng"></div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <h3>Distribution Of SCI cGPAs</h3>
                            <div id="barchartdivsc"></div>
                        </div>
                        <div class="carousel-item">
                            <h3>Distribution Of MATH cGPAs</h3>
                            <div id="barchartdivmath"></div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button id="Button" class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="card" id="courseinfo">
                <h1>Majors Count</h1>
                <div id="piechartdiv"></div>
            </div>
            <div class="card" id="clusturedchartdivparent">
                <h3>Average of Grades Per Major</h3>
                <div id="chartdiv"></div>
            </div>
            <div class="card" id="linedivparent">
                <h3>Average of Grades Per Major</h3>
            </div>
            <div class="card" id="linechartdivparent">
                <h3>Enrollments of Majors Per year</h3>
                <div id="linechartdiv"></div>
            </div>

        </div>
    </div>
</div>

</body>
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


</html>

